@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  font-size: 1.6rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #ec362d;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  max-width: 176px;
  width: 100%;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;
}

main {
  margin: auto;
  margin-top: 69px;
  max-width: 1051px;
  width: 100%;
}

/* page1 */
.page1 {
  padding-top: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page1 .top {
  width: 100%;
}

.page1 .added {
  width: 100%;
}

.page1 .empty {
  width: 100%;
  height: 181px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.page1 .empty p {
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
  height: 107px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}

.page1 .empty button {
  display: block;
  margin: 0 auto;
  color: #ec362d;
  font-size: 2rem;
  line-height: 2.5rem;
  max-width: 151px;
  width: 100%;
  height: 40px;
  background-color: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
}

.page1 .bot {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  width: 100%;
}

.page1 h2 { 
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #000000;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 15px;
}

.card {
  width: 340px;
  height: 181px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    ),
    url(../img/sloth.png);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card p {
  max-width: 340px;
  width: 90%;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  display: flex;
  gap: 17px;
  margin-bottom: 12px;
}

/* page2 */
.page2 {
  height: 100%;
}

.fundo {
  width: 100%;
  height: 22.7rem;
  margin-bottom: 42px;

  /* Fundo Background */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)),url("../img/background.png");
  background-size: cover;
  background-position: center;

  /* Fundo.innerHTML */
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
  line-height: 22.7rem;
  color: #ffffff;
}

.container {
  max-width: 760px;
  width: 100%;
  margin: auto;
}

.quizz-caixa {
  width: 100%;
  margin-bottom: 42px;
  padding: 28px 30px 20px;
  background: #fafafa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titulo-quizz {
  width: 100%;
  height: 13.8rem;  
  background: #434ca0;
  margin-bottom: 20px;

  /* titulo-quizz.innerHTML */
  text-align: center;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 13.8rem;
  color: #ffffff;
}

.conteudo-quizz {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.caixa {
  margin-bottom: 18px;
  color: #000000;
  position: relative;
}

.caixa .img {
  width: 33.5rem;
  height: 17.5rem;
  margin-bottom: 8px;
  background-image: url(../img/gatinho.png);
  background-size: 100%;
}

.caixa p {
  max-width: 335px;
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caixa .esconder {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.acertou {
  color: #009C22;
}

.errou {
  color: #FF4B4B;
}

.final {
  width: 100%;
  height: 430px;
  padding: 18px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.titulo-final {
  width: 100%;
  height: 100px;
  background-color: #ec362d;
  text-align: center;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 10rem;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.conteudo-final {
  display: flex;
  justify-content: space-between;
}

.img-final {
  width: 364px;
  height: 273px;
  background: url("../img/image\ 10.png") no-repeat center;
  background-size: contain;
}

.paragrafo-final {
  width: 328px;
  height: 273px;
}

.paragrafo-final p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #484848;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-final {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reiniciar-quizz {
  width: 260px;
  height: 50px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 2rem;
  line-height: 5rem;
  color: #FFF5F4;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.button .home {
  width: 220px;
  height: 45px;
  border: none;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4.5rem;
  color: #818181;
}

/* page3 */

.page31 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page31 h2{
  margin-top: 72px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #000000;
}

.page31 #form31 {
  max-width: 600px;
  width: 100%;
  height: 256px;
  padding: 20px 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}

.page31 #form31 input {
  width: 100%;
  height: 46px;
  margin-bottom: 9px;
  padding-left: 23px;
  border: 1px solid #D1D1D1;
}

.page31 #form31 input::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #BABABA;
}

.page31 #form31 button {
  width: 370px;
  height: 54px;
  background: #EC362D;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: -40%;
  left: calc(50% - 370px/2);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFF5F4;
}

.page32 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page32 #form32 {
  gap: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page32 h2 {
  width: 207px;
  height: 27px;
  margin-top: 65px;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #000000;
}

.page32 .forms {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}

.vector {
  position: absolute;
  top: 15px;
  right: 15px;
}

.page32 #form32 input {
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-left: 23px;
  margin-bottom: 14px;
}

.page32 #form32 input::placeholder {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #BABABA;
}

.page32 #form32 h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 12px;
}

.page32 #form32 .id1,.page32 #form32 .id2 {
  margin-bottom: 32px;
}

.page32 #form32 .id3 {
  margin-bottom: 0px;
}

.page32 button {
  width: 355px;
  height: 54px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFF5F4;
  margin: 0px calc(50% - 355px/2);
  margin-top: 40px;
  margin-bottom: 65px;
}

/*page 33*/

.page33 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page33 h2 {
  width: 246px;
  height: 27px;
  margin-top: 65px;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #000000;
}

.page33 .forms {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}

.page33 #form33 input {
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-left: 23px;
  margin-bottom: 14px;
}

.page33 #form33 input::placeholder {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #BABABA;
}

.page33 #form33 h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 12px;
}

.page33 button {
  width: 355px;
  height: 54px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFF5F4;
  margin: 0px calc(50% - 355px/2);
  margin-top: 65px;
  margin-bottom: 80px;

}

/* page 3.4*/

.page34 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page34 h2 {
  font-family: 'Roboto';
  width: 230px;
  height: 27px;
  margin-top: 65px;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #000000;
}

.quizz-look{
  position: relative;
}

.page34 h3 {
  font-family: 'Roboto';
  width: 309px;
  height: 34px;
  font-weight: 400;
  font-size: 2.3rem;
  color: #ffffff;
  position: absolute;
  bottom: 9px;
  left: 23px;
}

.image-quizz{
  width: 500px;
  height: 266px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);
  border-radius: 5px;
  object-fit: cover;
}

.acesso{
  width: 220px;
  height: 44px;
  background-color: #EC362D;
  border-radius: 15px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #FFF5F4;
  margin-top: 45px;

}

.voltar-home{
  width: 220px;
  height: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2.3rem;
  text-align: center;
  color: #818181;
  margin-top: 9px;
  background-color: #FAFAFA;
}

@media (max-width: 400px){
  .page1 {
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }

  .bot {
    margin-top: 35px;
  }

  .quizz-caixa {
    padding: 20px;
  }

  .page32  button, .page31 #form31 button {
    width: 250px;
    height: 54px;
    font-size: 1.7rem;
  } 

  .page31 #form31 button {
    left: calc(50% - 250px/2);
  }

  .conteudo-final {
    flex-direction: column;
  }

  .caixa .img {
    width: 16.3rem;
    height: 11.3rem;
  }

  .conteudo-final .img-final, .paragrafo-final{
    width: 34rem;
  }

  .caixa p {
    width: 16.3rem;
  }

  .page32 h2 {
    margin: 30px;
  }
}


/* KEEP AT BOTTOM */

.hidden {
  display: none;
}

/* KEEP AT BOTTOM */
