@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
}

* {
  box-sizing: border-box;
}

html {
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #ec362d;
  height: 69px;
  width: 100%;
  font-weight: 700;
  font-size: 37px;
  line-height: 69px;
  color: #ffffff;
  text-align: center;
}

main {
  margin-top: 69px;
}


/* page1 */
.page1 {
  padding-top: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page1 .top {
  margin: 0 auto;
  width: 1051px;
}

.page1 .added {
  width: 1051px;
}

.page1 .empty {
  width: 1051px;
  height: 181px;
}

.page1 .empty {
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.page1 .empty p {
  margin: 0 auto;
  width: 250px;
  height: 107px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}

.page1 .empty button {
  display: block;
  margin: 0 auto;
  color: #ec362d;
  font-size: 21px;
  line-height: 25px;
  width: 151px;
  height: 40px;
  background-color: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
}

.page1 .bot {
  margin: 0 auto;
  margin-top: 48px;
  width: 1051px;
  /* height: 409px; */
}

.page1 h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 15px;
}

.card {
  width: 340px;
  height: 181px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    ),
    url(../img/sloth.png);
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
}

.card p {
  width: 100%;
  height: 54px;
  display: flex;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  gap: 17px;
  margin-bottom: 12px;
}

/* page2 */
.page2 {
  height: 100%;
}

.fundo {
  width: 100%;
  height: 227px;
  margin-bottom: 42px;

  /* Fundo Background */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)),url("../img/background.png");
  background-size: cover;
  background-position: center;

  /* Fundo.innerHTML */
  text-align: center;
  font-weight: 400;
  font-size: 39px;
  line-height: 227px;
  color: #ffffff;
}

.container {
  max-width: 760px;
  width: 100%;
  margin: auto;
}

.quizz-caixa {
  width: 100%;
  margin-bottom: 42px;
  padding: 28px 30px 20px;
  background: #fafafa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titulo-quizz {
  width: 100%;
  height: 138px;  
  background: #434ca0;
  margin-bottom: 20px;

  /* titulo-quizz.innerHTML */
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 138px;
  color: #ffffff;
}

.conteudo-quizz {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.caixa {
  margin-bottom: 18px;
  color: #000000;
  position: relative;
}

.caixa .img {
  max-width: 335px;
  width: 100%;
  height: 175px;
  margin-bottom: 8px;
  background-image: url(../img/gatinho.png);
  background-size: cover;
}

.caixa p {
  max-width: 335px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caixa .esconder {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.acertou {
  color: #009C22;
}

.errou {
  color: #FF4B4B;
}

.final {
  width: 100%;
  height: 430px;
  padding: 18px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.titulo-final {
  width: 100%;
  height: 100px;
  background-color: #ec362d;
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 100px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.conteudo-final {
  display: flex;
  justify-content: space-between;
}

.img-final {
  width: 364px;
  height: 273px;
  background: url("../img/image\ 10.png") no-repeat center;
  background-size: contain;
}

.paragrafo-final {
  width: 328px;
  height: 273px;
}

.paragrafo-final p {
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  color: #484848;
}

.button-final {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reiniciar-quizz {
  width: 260px;
  height: 50px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: #FFF5F4;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.button .home {
  width: 220px;
  height: 45px;
  border: none;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 21px;
  line-height: 45px;
  color: #818181;
}

/* page3 */

.page31 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page31 h2{
  margin-top: 72px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
}

.page31 #form31 {
  width: 600px;
  height: 256px;
  padding: 20px 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  position: relative;
}

.page31 #form31 input {
  width: 100%;
  height: 46px;
  margin-bottom: 9px;
  padding-left: 23px;
  border: 1px solid #D1D1D1;
}

.page31 #form31 input::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
}

.page31 #form31 button {
  width: 370px;
  height: 54px;
  background: #EC362D;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: -40%;
  left: calc(50% - 370px/2);
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #FFF5F4;
}

.page32 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page32 h2 {
  width: 207px;
  height: 27px;
  margin-top: 65px;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #000000;
}

.page32 .forms {
  width: 600px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}

.page32 #form32 input {
  width: 100%;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding-left: 23px;
  margin-bottom: 14px;
}

.page32 #form32 input::placeholder {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
}

.page32 #form32 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 12px;
}

.page32 #form32 .id1,.page32 #form32 .id2 {
  margin-bottom: 32px;
}

.page32 #form32 .id3 {
  margin-bottom: 0px;
}

.page32 button {
  width: 355px;
  height: 54px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #FFF5F4;
  margin: 0px calc(50% - 355px/2);
  margin-top: 65px;
  margin-bottom: 80px;

}

/* KEEP AT BOTTOM */

.hidden {
  display: none;
}

/* KEEP AT BOTTOM */
